@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Stylish&display=swap');

@media (max-width: 767px){
	._search{
		width:200px;
	}
}

@media(max-width: 767px){
	.search_container {
	  width: 100%;
	  padding-right: 15px;
	  padding-left: 15px;
	  margin-right: auto;
	  margin-left: auto;
	}
}
@media(min-width: 768px){
	.search_container {
	  width: 85%;
	  padding-right: 15px;
	  padding-left: 15px;
	  margin-right: auto;
	  margin-left: auto;
	}
}	
.search_table {
	width: 100%;
}

.search-result{
	overflow-x:auto;
}

.search_table tr:nth-of-type(2n) {
    background-color: #f6f7f8;
}

.tr_h td {
	color: #444;
    vertical-align: bottom;
    padding: 0 8px 8px 8px;
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;
}

.tr_h {
	color: #444;
	text-decoration: none;
}

.active, .tr_h td:hover {
	color: #0466c8 !important;
	font-weight:bold;
	text-decoration: none;
}

.td_col {
	padding: 22px 8px 22px 8px; */
    border-bottom: 1px solid #e6e6e6;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #444;
    height: 61px;
    line-height: 61px;
    padding: 0 8px;
    position: relative;
}