@import url('https://fonts.googleapis.com/css?family=Stylish&display=swap');

#review{
	width:100%;
	text-align:center;
}

#review_body{
	max-height: 368px;
    overflow-y: scroll;
    text-overflow: ellipsis;
    /* display: -webkit-box; */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    margin:auto;
}

#positive_review li{
	margin-left:20px;
	margin-right:20px;
	margin-bottom:10px;
	
}

.review{
	margin-top: 100px;
	font-family: 'Trebuchet MS', serif;
	line-height: 1.6
	width: 800px;
	margin: 0 auto;
}

ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #ededed;
	color: #222;
}

.tab-content{
	display: none;
	background: #ededed;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}