@charset "UTF-8";

body {
  padding-top: 56px;
  height: 100%;
  width:100%;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

#wordcloud{
	display:block;
	width:50%;
	height:50%;
	margin-top:50px;
	margin-right: auto;
	margin-left: auto;
	text-align:center;
}
