@import url('https://fonts.googleapis.com/css?family=Stylish&display=swap');

#review{
	width:100%;
	
}


#chartCanvas{
	height:100%;
	padding-top:1.3em;
}

@media(max-width:1357px) {
	#review_body{
		height: 20em;
		overflow-y: scroll;
	    text-overflow: ellipsis;
	    -webkit-box-orient: vertical;
	    word-wrap: break-word;
	    margin:auto;
	    padding-top:20px;
		}
}
@media(min-width:1358px){
	#review_body{
	height: 30em;
    overflow-y: scroll;
    text-overflow: ellipsis;
    /* display: -webkit-box; */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    margin:auto;
    padding-top:20px;
    
}
}





/* #positive_review li{
	margin-left:20px;
	margin-right:20px;
	margin-bottom:10px;
	
} */

.review{
	margin-top: 100px;
	font-family: 'Trebuchet MS', serif;
	line-height: 1.6
	width: 800px;
	margin: 0 auto;
}

ul.tabs{
	margin: 0px;
	padding-top: 0.5em;
	padding-bottom: 0em;
	padding-right: 0em;
	padding-left: 0em;
	list-style: none;
	text-align:center;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	/* padding: 10px 15px; */
	cursor: pointer;
}
ul.tabs li:visited{
	background-color:#007bff;
}


.tab-content{
	display: none;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}

